.container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#grid-item-1 {
    grid-area: top1;
}

#grid-item-2 {
    grid-area: top-right;

}

#grid-item-3 {
    grid-area:bottom1;
}

#grid-item-4 {
    grid-area: bottom-right;

}
